$accent: #E4BF75;
$accenter: darken($accent, 10%);
$dark-accent: darken($accent, 50%);
$transp-accent: rgba(228,191,117,.5);
$light-accent: lighten($accent,50%);
$cod-gray: #0e0e0e;
$transp-cod-gray: rgba(13,13,13,.2);
$none: rgba(0,0,0,0);
$bg: #efefef;
$bg-light: lighten($bg, 20%);
$bg-lighter: lighten($bg-light,10%);