$light-picton-blue: #3dd8e3;
$picton-blue: darken(#3dd8e3, 10%);
$transp-picton-blue: darken(rgba(61,216,227,.5), 10%);
$turquoise: darken(#2dcdcd, 10%);
$gallery: #ECECEC;
$cod-gray: #0e0e0e;
$transp-cod-gray: rgba(13,13,13,.2);
$none: rgba(0,0,0,0);